 * {
margin: 0;
padding: 0;
box-sizing:border-box;
 }

 :root { /*определяет корневой элемент документа, обычно это элемент <html>, и позволяет задавать глобальные CSS-переменные, которые могут быть использованы в любом месте в стилях*/
    --dark:#21243D;
    --red:#ff6464;
    --white:#fff;
    
 }
 

a {
    color: #000;
    text-decoration: none;
}

.link-blue {
    color: #00a8cc;
}

.active {
    color: var(--red);
}

.menu {
    list-style: none;
    display: flex;
    gap: 32px;
}

header {
    display: flex;
    justify-content: end;
    padding: 27px 60px 27px 0;
} 

.container {
    margin: 0 auto;
    width: 856px;    
}

.about__container {
    display: flex;
    justify-content: space-between; /*распределяет дочерние элементы внутри контейнера с равными промежутками между ними, при этом первый элемент будет прижат к началу контейнера, а последний элемент - к концу контейнера*/
    gap: 20px; /*устанавливает промежуток между дочерними элементами внутри контейнера, в данном случае 20 пикселей*/  
}

.info { 
    display: flex; /*устанавливает элемент как флекс-контейнер, позволяя его дочерним элементам располагаться в строку или колонку в зависимости от значения свойства flex-direction*/
    flex-direction: column; /*располагает дочерние элементы в колонку, то есть вертикально*/
    gap: 40px; /*устанавливает промежуток между дочерними элементами внутри флекс-контейнера, в данном случае 40 пикселей*/
    max-width: 500px; /*устанавливает максимальную ширину элемента в 500 пикселей, что означает, что элемент не будет расширяться больше этого значения, даже если доступное пространство позволяет это сделать*/
    align-items: start; /*выравнивает дочерние элементы по началу главной оси, в данном случае по левому краю контейнера*/
}
 
.image {
    width: 243px;
    height: 243px;
    object-fit: contain; /*сохраняет пропорции изображения и помещает его внутри заданных размеров, не обрезая его*/
    object-fit: cover; /*изображение заполняет заданные размеры, обрезая его, если необходимо, чтобы сохранить пропорции*/
    border-radius: 50%; /*делает изображение круглым, устанавливая радиус скругления равным половине ширины и высоты изображения*/
    box-shadow: -5px 13px 0 #EDF7FA; /*создает тень для элемента, сдвигая ее на -5 пикселей по горизонтали и 13 пикселей по вертикали, с размытием 0 пикселей и цветом #EDF7FA*/
}

.title {
    font-size: 44px;
    font-weight: bold; /*устанавливает жирное начертание текста, делая его более заметным и выделяющимся на странице*/
    color: var(--dark);
}

.text {
    font-size: 16px;
    color: var(--dark);
}

.button {
        background-color: var(--red);
        color: var(--white);
        font-size: 20px;
        font-weight: 500;
        border-radius: 2px;
        padding: 9px 20px;
        cursor: pointer; /*устанавливает курсор в виде указателя при наведении на элемент, что обычно используется для кнопок и ссылок, чтобы показать пользователю, что элемент интерактивный и может быть кликнут*/
        text-decoration: none; /*убирает подчеркивание у ссылок, делая их более похожими на кнопки*/
        /* outline: none;*/
    } 


