 * {
margin: 0;
padding: 0;
box-sizing:border-box;
 }
 

a {
    color: #000;
    text-decoration: none;
}

.link-blue {
    color: #00a8cc;
}

.active {
    color: #FF6464;
}

.menu {
    list-style: none;
    display: flex;
    gap: 32px;
}

header {
    display: flex;
    justify-content: end;
    padding: 27px 60px 27px 0;
} 

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0 auto;
    width: 856px;    
}

.info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 500px;
}
 